.vs/
/test/
/KPAM.Local.sln
**/x64/
**/x86/
**/ARM64/
**/Debug/
**/Release/
**/bin/
**/obj/
**/ipch/
*.user
*.suo
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb
*.obj
*.pdb
*.idb
*.ilk
*.tlog
*.lastbuildstate
*.log
*.recipe
*.FileListAbsolute.txt
*.exe
*.sys
*.cat
*.cer
*.pfx
*.pvk
*.dmp
*.tmp
*.cache
